# Archivo de configuraci칩n que dice a Azure DevOps que hacer automaticamente cuando detecta cambios en el c칩digo
trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo "Iniciando DevSecOps Pipeline"
  displayName: 'Inicio'

- task: UsePythonVersion@0
  inputs:
    versionSpec: '3.x'
  displayName: 'Usar versi칩n de Python 3.x'

- script: pip install bandit
  displayName: 'Instalar Bandit (esc치ner de seguridad)'

- script: bandit -r . -ll
  displayName: 'Ejecutar Bandit para escaneo de seguridad'

- script: |
    pip install checkov
    checkov -d .
  displayName: 'Ejecutar Checkov para escaneo de seguridad en IaC'
